# 1.Import libraries

In [1]:
import pandas as pd

# 2.Import the data

In [2]:
music_df = pd.read_csv('music_project_en.csv')

# 3.Check the data

In [3]:
#See the first 5 rows of the dataframe
print(music_df.head())

     userID                        Track            artist  genre  \
0  FFB692EC            Kamigata To Boots  The Mass Missile   rock
1  55204538  Delayed Because of Accident  Andreas Rönnberg   rock
2    20EC38            Funiculì funiculà       Mario Lanza    pop
3  A3DD03C9        Dragons in the Sunset        Fire + Ice   folk
4  E2DC1FAE                  Soul People        Space Echo  dance

        City        time        Day
0  Shelbyville  20:28:33  Wednesday
1  Springfield  14:07:09     Friday
2  Shelbyville  20:58:07  Wednesday
3  Shelbyville  08:37:09     Monday
4  Springfield  08:34:34     Monday

## 3.1 Data description
* 'userID' — uniquely identifies each user
* 'Track' — song title
* 'artist' — artist name
* 'genre' — music genre
* 'City' — user's city
* 'time' — the time of day when a track was played (HH:MM:SS)

In [4]:
#See the main data statistics
music_df.describe(include='all')

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

Initial analysis:
* There are some columns that present missing values (count line) - should be treated prior to move forward with data analysis.
* There are only data from 2 cities and 3 days in the dataframe (unique line) - may be considered as categories.
* Pop seems to be the most listen genre (top line).

In [5]:
#See the main data attributes
print(music_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB
None

## 3.2 Null values

In [14]:
#See the number of null values in each column
# Sorted in descending order
# Framed output to be more readable
music_df.isna().sum().sort_values(ascending=False).to_frame('Null Values')

          Null Values
artist           7567
Track            1343
genre            1198
  userID            0
  City              0
time                0
Day                 0