# 1.Import libraries

In [1]:
import pandas as pd
import numpy as np

# 2.Import the data

In [2]:
music_df = pd.read_csv('music_project_en.csv')

# 3.Check the data

In [3]:
#See the first 5 rows of the dataframe
print(music_df.head())

     userID                        Track            artist  genre  \
0  FFB692EC            Kamigata To Boots  The Mass Missile   rock
1  55204538  Delayed Because of Accident  Andreas Rönnberg   rock
2    20EC38            Funiculì funiculà       Mario Lanza    pop
3  A3DD03C9        Dragons in the Sunset        Fire + Ice   folk
4  E2DC1FAE                  Soul People        Space Echo  dance

        City        time        Day
0  Shelbyville  20:28:33  Wednesday
1  Springfield  14:07:09     Friday
2  Shelbyville  20:58:07  Wednesday
3  Shelbyville  08:37:09     Monday
4  Springfield  08:34:34     Monday

In [4]:
columns = music_df.columns
print(columns)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Columns names:
* userID and City have unnecessary spaces that may difficult analysis - remove it.
* Different styles - change to snake_case.

In [5]:
#snake_case
columns = music_df.columns.str.strip().str.lower()
columns = columns.to_list() #Transforming to list
columns[0] = 'user_id' # Renaming the first column specifically
music_df.columns = columns
print(columns)

['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day']

## 3.1 Data description
* 'user_id' — uniquely identifies each user
* 'track' — song title
* 'artist' — artist name
* 'genre' — music genre
* 'city' — user's city
* 'time' — the time of day when a track was played (HH:MM:SS)

In [6]:
#See the main data statistics
music_df.describe(include='all')

         user_id  track     artist  genre         city      time     day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

Initial analysis:
* There are some columns that present missing values (count line) - should be treated prior to move forward with data analysis.
* There are only data from 2 cities and 3 days in the dataframe (unique line) - may be considered as categories.
* Pop seems to be the most listen genre (top line).

## 3.2 Check duplicates

In [7]:
duplicates = music_df.duplicated().sum()
print(f'The number of duplicate rows in the dataset is: {duplicates}')

The number of duplicate rows in the dataset is: 3826

Remove the duplicated lines and then check the null values.

In [8]:
#Remove the duplicates and reset the index (drop=True remove the prevous indexes)
music_df = music_df.drop_duplicates().reset_index(drop=True)

In [9]:
#Check intrinsic duplicates in each column
#for col in music_df.columns:
#    print(f'Unique values in {col}: {music_df[col].unique()}')

print(music_df['genre'].unique())

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic' nan
 'alternative' 'children' 'rnb' 'hip' 'jazz' 'postrock' 'latin'
 'classical' 'metal' 'reggae' 'triphop' 'blues' 'instrumental' 'rusrock'
 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'salsa' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'tropical' 'contemporary' 'new' 'soul' 'holiday'
 'german' 'jpop' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'korean'
 'numetal' 'vocal' 'estrada' 'tango' 'loungeelectronic' 'classicmetal'
 'dubstep' 'club' 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french'
 'disco' 'religious' 'hiphop' 'drum' 'extrememetal' 'türkçe'
 'experimental' 'easy' 'metalcore' 'modern' 'argentinetango' 'old' 'swing'
 'breaks' 'eurofolk' 'stonerrock' 'industrial' 'funk' 'middle' 'variété'
 'other' 'adult' 'christian' 'thrash' 'gothic' 'international' 'muslim'
 'relax' 'schlager' 'caribbean' 'nu' 'breakbeat' 'comedy' 'chill' 'newage'
 'specialty' 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power'
 'death' 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european'
 'tech' 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera'
 'celtic' 'tradjazz' 'acoustic' 'epicmetal' 'hip-hop' 'historisch'
 'downbeat' 'downtempo' 'africa' 'audiobook' 'jewish' 'sängerportrait'
 'deutschrock' 'eastern' 'action' 'future' 'electropop' 'folklore'
 'bollywood' 'marschmusik' 'rnr' 'karaoke' 'indian' 'rancheras'
 'afrikaans' 'rhythm' 'sound' 'deutschspr' 'trip' 'lovers' 'choral'
 'dancepop' 'retro' 'smooth' 'mexican' 'brazilian' 'ïîï' 'mood' 'surf'
 'gangsta' 'inspirational' 'idm' 'ethnic' 'bluegrass' 'broadway'
 'animated' 'americana' 'karadeniz' 'rockabilly' 'colombian' 'self' 'hop'
 'sertanejo' 'japanese' 'canzone' 'lounge' 'sport' 'ragga' 'traditional'
 'gitarre' 'frankreich' 'emo' 'laiko' 'cantopop' 'glitch' 'documentary'
 'oceania' 'popeurodance' 'dark' 'vi' 'grunge' 'hardstyle' 'samba'
 'garage' 'art' 'folktronica' 'entehno' 'mediterranean' 'chamber' 'cuban'
 'taraftar' 'gypsy' 'hardtechno' 'shoegazing' 'bossa' 'latino' 'worldbeat'
 'malaysian' 'baile' 'ghazal' 'arabic' 'popelectronic' 'acid' 'kayokyoku'
 'neoklassik' 'tribal' 'tanzorchester' 'native' 'independent' 'cantautori'
 'handsup' 'punjabi' 'synthpop' 'rave' 'französisch' 'quebecois' 'speech'
 'soulful' 'jam' 'ram' 'horror' 'orchestral' 'neue' 'roots' 'slow'
 'jungle' 'indipop' 'axé' 'fado' 'showtunes' 'arena' 'irish' 'mandopop'
 'forró' 'dirty' 'regional']

In [10]:
#Normalize text
music_df['genre'] = (
    music_df['genre']
        .str.strip()
        .str.lower()
        .str.normalize('NFKD') # Normalize unicode characters - base letter + accents
        .str.encode('ascii', errors='ignore') # Remove accents by ignoring non-ascii characters, text becomes bytes
        .str.decode('utf-8') # Decode back to string
)

print(np.sort(music_df['genre'].dropna().unique())) # Ordered alphabetically

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'ambient' 'americana' 'animated' 'anime' 'arabesk' 'arabic' 'arena'
 'argentinetango' 'art' 'audiobook' 'avantgarde' 'axe' 'baile' 'balkan'
 'beats' 'bigroom' 'black' 'bluegrass' 'blues' 'bollywood' 'bossa'
 'brazilian' 'breakbeat' 'breaks' 'broadway' 'cantautori' 'cantopop'
 'canzone' 'caribbean' 'caucasian' 'celtic' 'chamber' 'children' 'chill'
 'chinese' 'choral' 'christian' 'christmas' 'classical' 'classicmetal'
 'club' 'colombian' 'comedy' 'conjazz' 'contemporary' 'country' 'cuban'
 'dance' 'dancehall' 'dancepop' 'dark' 'death' 'deep' 'deutschrock'
 'deutschspr' 'dirty' 'disco' 'dnb' 'documentary' 'downbeat' 'downtempo'
 'drum' 'dub' 'dubstep' 'eastern' 'easy' 'electronic' 'electropop' 'emo'
 'entehno' 'epicmetal' 'estrada' 'ethnic' 'eurofolk' 'european'
 'experimental' 'extrememetal' 'fado' 'film' 'fitness' 'flamenco' 'folk'
 'folklore' 'folkmetal' 'folkrock' 'folktronica' 'forro' 'frankreich'
 'franzosisch' 'french' 'funk' 'future' 'gangsta' 'garage' 'german'
 'ghazal' 'gitarre' 'glitch' 'gospel' 'gothic' 'grime' 'grunge' 'gypsy'
 'handsup' "hard'n'heavy" 'hardcore' 'hardstyle' 'hardtechno' 'hip'
 'hip-hop' 'hiphop' 'historisch' 'holiday' 'hop' 'horror' 'house' 'idm'
 'iii' 'independent' 'indian' 'indie' 'indipop' 'industrial'
 'inspirational' 'instrumental' 'international' 'irish' 'jam' 'japanese'
 'jazz' 'jewish' 'jpop' 'jungle' 'k-pop' 'karadeniz' 'karaoke' 'kayokyoku'
 'korean' 'laiko' 'latin' 'latino' 'leftfield' 'local' 'lounge'
 'loungeelectronic' 'lovers' 'malaysian' 'mandopop' 'marschmusik'
 'meditative' 'mediterranean' 'melodic' 'metal' 'metalcore' 'mexican'
 'middle' 'minimal' 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim'
 'native' 'neoklassik' 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz'
 'numetal' 'oceania' 'old' 'opera' 'orchestral' 'other' 'piano' 'pop'
 'popelectronic' 'popeurodance' 'post' 'posthardcore' 'postrock' 'power'
 'progmetal' 'progressive' 'psychedelic' 'punjabi' 'punk' 'quebecois'
 'ragga' 'ram' 'rancheras' 'rap' 'rave' 'reggae' 'reggaeton' 'regional'
 'relax' 'religious' 'retro' 'rhythm' 'rnb' 'rnr' 'rock' 'rockabilly'
 'romance' 'roots' 'ruspop' 'rusrap' 'rusrock' 'salsa' 'samba'
 'sangerportrait' 'schlager' 'self' 'sertanejo' 'shoegazing' 'showtunes'
 'singer' 'ska' 'slow' 'smooth' 'soul' 'soulful' 'sound' 'soundtrack'
 'southern' 'specialty' 'speech' 'spiritual' 'sport' 'stonerrock' 'surf'
 'swing' 'synthpop' 'tango' 'tanzorchester' 'taraftar' 'tech' 'techno'
 'thrash' 'top' 'traditional' 'tradjazz' 'trance' 'tribal' 'trip'
 'triphop' 'tropical' 'turk' 'turkce' 'urban' 'uzbek' 'variete' 'vi'
 'videogame' 'vocal' 'western' 'world' 'worldbeat']

There are some variants of the same genre: hip, hop, hiphop, hip-hop. Create a function to replace all variants to hiphop.

In [11]:
def replace_genre(df, column, wrong_genres, correct_genre):
    for wrong_genre in wrong_genres:
        df[column] = df[column].replace(wrong_genre, correct_genre)
    return df

replace_genre(music_df,'genre', ['hip hop', 'hiphop', 'hip'], 'hip-hop')

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
...,...,...,...,...,...,...,...
61248,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
61249,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip-hop,Shelbyville,10:00:00,Monday
61250,C5E3A0D5,Jalopiina,NaN,industrial,Springfield,20:09:26,Friday
61251,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
61252,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

## 3.3 Null values

In [12]:
#See the main data attributes
print(music_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61253 entries, 0 to 61252
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  61253 non-null  object
 1   track    59991 non-null  object
 2   artist   54156 non-null  object
 3   genre    60126 non-null  object
 4   city     61253 non-null  object
 5   time     61253 non-null  object
 6   day      61253 non-null  object
dtypes: object(7)
memory usage: 3.3+ MB
None

In [13]:
#See the number of null values in each column
# Sorted in descending order
# Framed output to be more readable
music_df.isna().sum().sort_values(ascending=False).to_frame('Null Values')

         Null Values
artist          7097
track           1262
genre           1127
user_id            0
city               0
time               0
day                0

# 3.4 Data types

Change the following data types:
* City may be a category instead of object (only 2 possibilities)
* time should be time instead of object
* Day may be a category instead of object (only 3 possibilities)

In [14]:
music_df['city'] = music_df['city'].astype('category')
music_df['time'] = pd.to_datetime(music_df['time'], format='%H:%M:%S')
music_df['day'] = music_df['day'].astype('category')

print(music_df.dtypes)

user_id            object
track              object
artist             object
genre              object
city             category
time       datetime64[ns]
day              category
dtype: object